<app-dog
  *ngIf="simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.washing
             && !statesService.states.walking"
>
</app-dog>

<app-water
  *ngIf="statesService.states.drinking
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.washing
             && !statesService.states.walking"
>
</app-water>

<app-eating
  *ngIf="statesService.states.eating
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.playing
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-eating>

<app-frolic
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Herumtollen'
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-frolic>

<app-football
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Ballspielen'
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-football>

<app-tennisball
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Apportieren'
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-tennisball>

<app-cuddling
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Kuscheln'
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-cuddling>

<app-walking
  *ngIf="statesService.states.walking
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.wiping
             && !statesService.states.showPills
             && !statesService.states.playing"
>
</app-walking>

<app-broom
  *ngIf="statesService.states.wiping
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.showPills
             && !statesService.states.walking"
>
</app-broom>

<app-pills
  *ngIf="statesService.states.showPills
             && simulation.pet.life > 0
             && !statesService.states.washing
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.wiping
             && !statesService.states.walking"
>
</app-pills>

<app-washing
  *ngIf="statesService.states.washing
             && !statesService.states.showPills
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.wiping
             && !statesService.states.walking"
>
</app-washing>
