$cat-body: url('~src/assets/bilder/kitty/katze-koerper-sitzend.webp');
$cat-face-sleeping: url('~src/assets/bilder/kitty/katze-kopf-augen-gesclossen.webp');
$cat-face-normal: url('~src/assets/bilder/kitty/katze-augen-offen.webp');
$cat-face-hungry-thirsty: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-face-tired: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-face-sad: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-tail-normal: url('~src/assets/bilder/kitty/katze-schwanz-normal.webp');
$cat-body-playing: url('~src/assets/bilder/kitty/katze-koerper-lauernd.webp');
$cat-foots-playing: url('~src/assets/bilder/kitty/katze-pfoten-lauernd.webp');

$cat-cleaning0: url('~src/assets/bilder/katzenklo/katzenklo0.webp');
$cat-cleaning1: url('~src/assets/bilder/katzenklo/katzenklo1.webp');
$cat-cleaning2: url('~src/assets/bilder/katzenklo/katzenklo2.webp');
$cat-cleaning3: url('~src/assets/bilder/katzenklo/katzenklo3.webp');
$cat-cleaning4: url('~src/assets/bilder/katzenklo/katzenklo4.webp');
$cat-cleaning5: url('~src/assets/bilder/katzenklo/katzenklo5.webp');
$cat-cleaning6: url('~src/assets/bilder/katzenklo/katzenklo6.webp');
$cat-cleaning7: url('~src/assets/bilder/katzenklo/katzenklo7.webp');

$cat-grave: url('~src/assets/bilder/anderes/grab-kitty.webp');
