$cat-body: url('~src/assets/bilder/kitty/katze-koerper-sitzend.webp');
$cat-face-sleeping: url('~src/assets/bilder/kitty/katze-kopf-augen-geschlossen.webp');
$cat-face-normal: url('~src/assets/bilder/kitty/katze-kopf-augen-offen.webp');
$cat-face-hungry-thirsty: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-face-tired: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-face-sad: url('~src/assets/bilder/kitty/katze-augen-halboffen.webp');
$cat-tail-normal: url('~src/assets/bilder/kitty/katze-schwanz-sitzend.webp');
$cat-tail-lying: url('~src/assets/bilder/kitty/katze-schwanz-lauern.webp');

$cat-cleaning0: url('~src/assets/bilder/katzenklo/katzenklo0.webp');
$cat-cleaning1: url('~src/assets/bilder/katzenklo/katzenklo1.webp');
$cat-cleaning2: url('~src/assets/bilder/katzenklo/katzenklo2.webp');
$cat-cleaning3: url('~src/assets/bilder/katzenklo/katzenklo3.webp');
$cat-cleaning4: url('~src/assets/bilder/katzenklo/katzenklo4.webp');
$cat-cleaning5: url('~src/assets/bilder/katzenklo/katzenklo5.webp');
$cat-cleaning6: url('~src/assets/bilder/katzenklo/katzenklo6.webp');
$cat-cleaning7: url('~src/assets/bilder/katzenklo/katzenklo7.webp');

$cat-plaing-wool: url('~src/assets/bilder/kitty/katze-spielen-wolle-koerper-kopf.webp');

// Todo malen
//$cat-grave: url('~src/assets/bilder/anderes/grab-buddy.webp');
