$dog-face-complete: url('~src/assets/bilder/buddy/hund-kopf-komplett.webp');
$dog-body: url('~src/assets/bilder/buddy/koerper-ohne-schwanz.webp');
$dog-face-exited: url('~src/assets/bilder/buddy/kopf-augen-offen-aufgeregt.webp');
$dog-face-sleeping: url('~src/assets/bilder/buddy/kopf-augen-geschlossen-schlafen.webp');
$dog-face-normal: url('~src/assets/bilder/buddy/kopf-augen-offen-normal.webp');
$dog-face-hungry-thirsty: url('~src/assets/bilder/buddy/kopf-augen-offen-durstig-hungrig.webp');
$dog-face-tired: url('~src/assets/bilder/buddy/kopf-augen-offen-muede.webp');
$dog-face-sad: url('~src/assets/bilder/buddy/kopf-augen-offen-traurig.webp');
$dog-face-tongue: url('~src/assets/bilder/buddy/kopf-augen-offen-zunge.webp');
$dog-ear-left: url('~src/assets/bilder/buddy/ohr-links.webp');
$dog-ear-right: url('~src/assets/bilder/buddy/ohr-rechts.webp');
$dog-tail-normal: url('~src/assets/bilder/buddy/schwanz-normal.webp');
$dog-tail-lying: url('~src/assets/bilder/buddy/schwanz-liegend.webp');

$dog-complete-exited: url('~src/assets/bilder/spielen/buddy-aufgeregt.webp');
$dog-complete-normal: url('~src/assets/bilder/spielen/buddy-normal.webp');
$dog-complete-tennisball: url('~src/assets/bilder/spielen/buddy-tennisball.webp');
$dog-complete-tongue: url('~src/assets/bilder/spielen/buddy-zunge.webp');

$dog-walk0: url('~src/assets/bilder/gassi/pfote0.webp');
$dog-walk1: url('~src/assets/bilder/gassi/pfote1.webp');
$dog-walk2: url('~src/assets/bilder/gassi/pfote2.webp');
$dog-walk3: url('~src/assets/bilder/gassi/pfote3.webp');
$dog-walk4: url('~src/assets/bilder/gassi/pfote4.webp');

$dog-grave: url('~src/assets/bilder/anderes/grab-buddy.webp');
