$apple0: url('~src/assets/bilder/apfel/apfel0.webp');
$apple1: url('~src/assets/bilder/apfel/apfel1.webp');
$apple2: url('~src/assets/bilder/apfel/apfel2.webp');
$apple3: url('~src/assets/bilder/apfel/apfel3.webp');
$apple4: url('~src/assets/bilder/apfel/apfel4.webp');

$broccoli0: url('~src/assets/bilder/brokkoli/brokkoli0.webp');
$broccoli1: url('~src/assets/bilder/brokkoli/brokkoli1.webp');
$broccoli2: url('~src/assets/bilder/brokkoli/brokkoli2.webp');
$broccoli3: url('~src/assets/bilder/brokkoli/brokkoli3.webp');
$broccoli4: url('~src/assets/bilder/brokkoli/brokkoli4.webp');

$bone0: url('~src/assets/bilder/knochen/bone0.webp');
$bone1: url('~src/assets/bilder/knochen/bone1.webp');
$bone2: url('~src/assets/bilder/knochen/bone2.webp');
$bone3: url('~src/assets/bilder/knochen/bone3.webp');
$bone4: url('~src/assets/bilder/knochen/bone4.webp');

$dog-yummi0: url('~src/assets/bilder/leckerli/hund-lecker0.webp');
$dog-yummi1: url('~src/assets/bilder/leckerli/hund-lecker1.webp');
$dog-yummi2: url('~src/assets/bilder/leckerli/hund-lecker2.webp');
$dog-yummi3: url('~src/assets/bilder/leckerli/hund-lecker3.webp');
$dog-yummi4: url('~src/assets/bilder/leckerli/hund-lecker4.webp');

$dog-wetfood0: url('~src/assets/bilder/nassfutter/hund-nassfutter0.webp');
$dog-wetfood1: url('~src/assets/bilder/nassfutter/hund-nassfutter1.webp');
$dog-wetfood2: url('~src/assets/bilder/nassfutter/hund-nassfutter2.webp');
$dog-wetfood3: url('~src/assets/bilder/nassfutter/hund-nassfutter3.webp');
$dog-wetfood4: url('~src/assets/bilder/nassfutter/hund-nassfutter4.webp');

$dog-dryfood0: url('~src/assets/bilder/trockenfutter/hund-trockenfutter0.webp');
$dog-dryfood1: url('~src/assets/bilder/trockenfutter/hund-trockenfutter1.webp');
$dog-dryfood2: url('~src/assets/bilder/trockenfutter/hund-trockenfutter2.webp');
$dog-dryfood3: url('~src/assets/bilder/trockenfutter/hund-trockenfutter3.webp');
$dog-dryfood4: url('~src/assets/bilder/trockenfutter/hund-trockenfutter4.webp');

$water0: url('~src/assets/bilder/wasser/wasser0.webp');
$water1: url('~src/assets/bilder/wasser/wasser1.webp');
$water2: url('~src/assets/bilder/wasser/wasser2.webp');
$water3: url('~src/assets/bilder/wasser/wasser3.webp');
$water4: url('~src/assets/bilder/wasser/wasser4.webp');


$milk0: url('~src/assets/bilder/milch/milch0.webp');
$milk1: url('~src/assets/bilder/milch/milch1.webp');
$milk2: url('~src/assets/bilder/milch/milch2.webp');
$milk3: url('~src/assets/bilder/milch/milch3.webp');
$milk4: url('~src/assets/bilder/milch/milch4.webp');

$cat-wetfood0: url('~src/assets/bilder/nassfutter-katze/nassfutter-katze0.webp');
$cat-wetfood1: url('~src/assets/bilder/nassfutter-katze/nassfutter-katze1.webp');
$cat-wetfood2: url('~src/assets/bilder/nassfutter-katze/nassfutter-katze2.webp');
$cat-wetfood3: url('~src/assets/bilder/nassfutter-katze/nassfutter-katze3.webp');
$cat-wetfood4: url('~src/assets/bilder/nassfutter-katze/nassfutter-katze4.webp');

$cat-dryfood0: url('~src/assets/bilder/trockenfutter-katze/trockenfutter-katze0.webp');
$cat-dryfood1: url('~src/assets/bilder/trockenfutter-katze/trockenfutter-katze1.webp');
$cat-dryfood2: url('~src/assets/bilder/trockenfutter-katze/trockenfutter-katze2.webp');
$cat-dryfood3: url('~src/assets/bilder/trockenfutter-katze/trockenfutter-katze3.webp');
$cat-dryfood4: url('~src/assets/bilder/trockenfutter-katze/trockenfutter-katze4.webp');

$cat-yummi0: url('~src/assets/bilder/leckerli-katze/leckerli-katze0.webp');
$cat-yummi1: url('~src/assets/bilder/leckerli-katze/leckerli-katze1.webp');
$cat-yummi2: url('~src/assets/bilder/leckerli-katze/leckerli-katze2.webp');
$cat-yummi3: url('~src/assets/bilder/leckerli-katze/leckerli-katze3.webp');
$cat-yummi4: url('~src/assets/bilder/leckerli-katze/leckerli-katze4.webp');
