$heart: url('~src/assets/bilder/anderes/herz.webp');
$broom: url('~src/assets/bilder/anderes/besen.webp');
$gift-box-yellow: url('~src/assets/bilder/anderes/geschenk-box-gelb.webp');
$trees: url('~src/assets/bilder/anderes/baeume.webp');
$park: url('~src/assets/bilder/anderes/park.webp');
$fly: url('~src/assets/bilder/anderes/fliege.webp');
$football: url('~src/assets/bilder/anderes/fussball.webp');
$tennisball: url('~src/assets/bilder/anderes/tennisball.webp');
$pee: url('~src/assets/bilder/anderes/pipi.webp');
$poo: url('~src/assets/bilder/anderes/poo.webp');
$wool: url('~src/assets/bilder/anderes/wollknäuel.webp');
$rod: url('~src/assets/bilder/anderes/angel.webp');
$tendon: url('~src/assets/bilder/anderes/leine.webp');
$feather: url('~src/assets/bilder/anderes/federn.webp');
