@use "src/app/common-styles";

.box {
  @include common-styles.box-column;
  width: 637px;

  .row {
    @include common-styles.row;

    &.playing, &.feeding {
      background-image: linear-gradient(#cbdb73 55%, #96a44a);
      border-radius: 8px;
    }
  }
}
