@use "src/app/common-styles";
@use "src/app/utils/images/cat-images";

.cat {
  position: relative;
  top: 10px;


  .head {
    @include common-styles.background;
    width: 210px;
    height: 210px;
    top: -24px;
    left: 200px;
    z-index: 5;
    animation: normal-move infinite ease 9s;

    &.normal {
      background-image: cat-images.$cat-face-sleeping;
      animation: normal-move infinite ease 9s;
    }

    &.hungry-thirsty {
      background-image: cat-images.$cat-face-hungry-thirsty;
    }

    &.sad {
      background-image: cat-images.$cat-face-sad;
    }

    &.tired {
      background-image: cat-images.$cat-face-tired;
    }

    &.sleeping {
      background-image: cat-images.$cat-face-sleeping;
    }
  }

  .kitty-koerper {
    @include common-styles.background;
    top: 83px;
    left: 88px;
    width: 430px;
    height: 250px;
    z-index: 2;
    background-image: cat-images.$cat-body;
  }

  .tail {
    @include common-styles.background;
    background-image: cat-images.$cat-tail-normal;
    width: 150px;
    height: 150px;
    top: 45px;
    left: 130px;
    z-index: 1;
    animation: tail-moving linear infinite 1800ms;
  }
}
