@use "src/app/common-styles";
@use "src/app/utils/images/cat-images";

.cat {
  @include common-styles.cat;


  .head {
    @include common-styles.background;
    @include common-styles.cat-head;

    &.normal {
      background-image: cat-images.$cat-face-sleeping;
      animation: cat-head-stroking infinite ease 5s;
    }
  }

  .kitty-koerper {
    @include common-styles.background;
    @include common-styles.cat-body;
  }

  .tail {
    @include common-styles.background;
    @include common-styles.cat-tail;
  }
}


@keyframes cat-head-stroking {
  0% {
    transform-origin: center;
  }
  25% {
    transform-origin: center;
    transform: rotate(3deg);
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: center;
    transform: rotate(-3deg);
  }
  100% {
    transform-origin: center;
  }
}
