@use "src/app/common-styles";

.box {
  @include common-styles.box-row;
  margin: 25px;

  .column {
    @include common-styles.box-column;
    margin: 25px;

    img {
      animation: moving ease-in infinite 1.5s;
      margin: 15px;

      &.second {
        animation-delay: 0.5s;
      }
    }

    .buttons {
      display: flex;
    }

    .cat-box {
      filter: hue-rotate(30deg);
    }
  }
}

@keyframes moving {
  25% {
    transform: translateY(-5px) rotateZ(5deg);
  }
  75% {
    transform: translateY(-5px) rotateZ(-5deg);
  }
}
