@use "src/app/common-styles";
@use "src/app/utils/images/dog-images";

.dog {
  position: relative;
  top: 10px;


  .head {
    @include common-styles.background;
    width: 140px;
    height: 140px;
    top: 0;
    left: 225px;
    z-index: 5;
    background-image: dog-images.$dog-face-normal;
    animation: normal-move infinite ease 9s;

    .ear-left {
      @include common-styles.background;
      @include common-styles.dog-ear-left;
    }

    .ear-right {
      @include common-styles.background;
      @include common-styles.dog-ear-right;
    }
  }

  .buddy-koerper {
    @include common-styles.background;
    @include common-styles.dog-body;
  }

  .tail {
    @include common-styles.background;
    background-image: dog-images.$dog-tail-normal;
    @include common-styles.dog-tail;
    animation: waggle infinite ease-in-out 350ms;
  }
}



@keyframes waggle {
  50% {
    transform-origin: bottom left;
    transform: rotate(25deg);
  }
}


