@use "src/app/utils/images/dog-images";

@mixin box-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin box-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin background {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin dog-body {
  top: 80px;
  left: 170px;
  width: 250px;
  height: 250px;
  z-index: 2;
  background-image: dog-images.$dog-body;
}

@mixin dog-ear-left {
  top: 0;
  left: -45px;
  width: 80px;
  height: 120px;
  z-index: 6;
  background-image: dog-images.$dog-ear-left;
}

@mixin dog-ear-right {
  top: 0;
  right: -45px;
  width: 80px;
  height: 120px;
  z-index: 6;
  background-image: dog-images.$dog-ear-right;
}

@mixin dog-tail {
  background-image: dog-images.$dog-tail-normal;
  width: 140px;
  height: 140px;
  top: 84px;
  bottom: 105px;
  right: 105px;
  z-index: 1;
}

$white: whitesmoke;
$gray: #c3c3c3;

$hover-text-color: #356600;

$yellow-green-dark: #96a44a;
$yellow-green-light: #cbdb73;

$yellow-gray-light: rgba(255, 255, 186, 0.5);
$yellow-gray-dark: rgba(157, 157, 166, 0.5);

$display-light-green: lightgreen;
$display-dark-green: #5f9d5f;

$light-gray: #696969;
$dark-gray: #3c3c3c;

$light-red: red;
$dark-red: #8c0000;

$light-orange: #ff8325;
$dark-orange: #8b4513;

$light-blue: cornflowerblue;
$dark-blue: #3d5c92;

$light-violet: #ff1bab;
$dark-violet: mediumvioletred;

$light-purple: #9502fc;
$dark-purple: #4e1279;

$light-green: #2ebc00;
$dark-green: #225d0f;

