@use "src/app/common-styles";
@use "src/app/utils/images/cat-images";

.cat {
  @include common-styles.cat;


  .head {
    @include common-styles.background;
    @include common-styles.cat-head;

    &.normal {
      background-image: cat-images.$cat-face-normal;
      animation: normal-move infinite ease 9s;
    }

    &.hungry-thirsty {
      background-image: cat-images.$cat-face-hungry-thirsty;
    }

    &.sad {
      background-image: cat-images.$cat-face-sad;
    }

    &.tired {
      background-image: cat-images.$cat-face-tired;
    }

    &.sleeping {
      background-image: cat-images.$cat-face-sleeping;
    }

    &.exited {
      background-image: cat-images.$cat-face-exited;
    }
  }

  .kitty-koerper {
    @include common-styles.background;
    @include common-styles.cat-body;
  }

  .tail {
    @include common-styles.background;
    @include common-styles.cat-tail;

    &.dropped {
      @include common-styles.background;
      background-image: cat-images.$cat-tail-normal;
      width: 140px;
      height: 140px;
      top: 155px;
      left: 130px;
      z-index: 1;
      animation: none;
      transform: rotate(-55deg);
    }
  }
}

@keyframes tail-moving {
  0% {
    transform-origin: center;
  }
  25% {
    transform-origin: center;
    transform: rotate(2.5deg);
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: center;
    transform: rotate(-2.5deg);
  }
  100% {
    transform-origin: center;
  }
}


@keyframes normal-move {
  0% {
    transform-origin: center;
  }
  25% {
    transform-origin: center;
    transform: rotate(2.5deg);
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: center;
    transform: rotate(-2.5deg);
  }
  100% {
    transform-origin: center;
  }
}

