<app-cat
  *ngIf="simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-cat>

<app-water
  *ngIf="statesService.states.drinking
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-water>

<app-eating
  *ngIf="statesService.states.eating
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.drinking
             && !statesService.states.playing
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-eating>

<app-rod
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Angel'
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-rod>

<app-wool
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Wollknäuel'
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-wool>

<app-mouse
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Aufziehmaus'
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-mouse>

<app-stroking
  *ngIf="statesService.states.playing
             && statesService.playingGame === 'Streicheln'
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.cleaningCatToilet
             && !statesService.states.showPills"
>
</app-stroking>

<app-cleaning
  *ngIf="statesService.states.cleaningCatToilet
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.eating
             && !statesService.states.drinking
             && !statesService.states.showPills
             && !statesService.states.playing"
>
</app-cleaning>

<app-pills
  *ngIf="statesService.states.showPills
             && simulation.pet.life > 0
             && !statesService.showBox
             && !statesService.states.washing
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.cleaningCatToilet"
>
</app-pills>

<app-washing
  *ngIf="statesService.states.washing
             && simulation.pet.life > 0
             && !statesService.states.showPills
             && !statesService.showBox
             && !statesService.states.drinking
             && !statesService.states.eating
             && !statesService.states.playing
             && !statesService.states.wiping"
>
</app-washing>
