@use "src/app/common-styles";

button {
  outline: none;
  user-select: none;
  box-sizing: border-box;
  width: 150px;
  min-height: 40px;
  margin: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 2px 5px gray;
  background: linear-gradient(common-styles.$white 55%, common-styles.$gray);

  &:active {
    box-shadow: inset 3px 1px 2px gray;
    border: none;
  }

  &:hover {
    color: common-styles.$hover-text-color;
  }

  @media (max-width: 480px) {
    width: 120px;
  }

  @media (max-width: 410px) {
    margin: 5px;
  }

  @media (max-width: 480px) {
    width: 120px;
  }

  @media (max-width: 355px) {
    width: 115px;
  }

  @media (max-width: 345px) {
    font-size: 0.9rem;
    width: 100px;
  }


}

:host {
  &.activated {
    button {
      background-image: linear-gradient(common-styles.$yellow-green-light 55%, common-styles.$yellow-green-dark);
    }
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }
}

