@use "src/app/common-styles";
@use "src/app/utils/images/other-images";
@use "src/app/utils/images/cat-images";


.box {
  width: 280px;
  height: 190px;

  .tail {
    @include common-styles.background;
    background-image: cat-images.$cat-tail-normal;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 70px;
    z-index: 1;
    animation: tail-moving linear infinite 1800ms;
  }

  .cat {

    .head {
      @include common-styles.background;
      background-image: cat-images.$cat-face-normal;
      width: 120px;
      height: 120px;
      top: 80px;
      left: 85px;
      z-index: 3;
    }

    .body {
      @include common-styles.background;
      background-image: cat-images.$cat-body-playing;
      width: 129px;
      height: 114px;
      top: 75px;
      left: 74px;
      z-index: 2;
      transform-origin: bottom center;
      animation: move-cat linear infinite 1500ms;
    }

    .foots {
      @include common-styles.background;
      background-image: cat-images.$cat-foots-playing;
      width: 120px;
      height: 120px;
      top: 115px;
      left: 75px;
      z-index: 2;
    }

    .tail {
      @include common-styles.background;
      background-image: cat-images.$cat-tail-normal;
      width: 120px;
      height: 120px;
      z-index: 1;
      top: 2px;
      left: 42px;
    }
  }

  .wool {
    @include common-styles.background;
    background-image: other-images.$wool;
    width: 110px;
    height: 100px;
    bottom: 35px;
    left: 50px;
    animation: wool linear infinite 2s;
    transform: translateX(380px) rotate(180deg);
    z-index: 5;
  }
}

@keyframes tail-moving {
  0% {
    transform-origin: center;
  }
  25% {
    transform-origin: center;
    transform: rotate(3deg);
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: center;
    transform: rotate(-3deg);
  }
  100% {
    transform-origin: center;
  }
}


@keyframes wool {
  0% {
    transform-origin: center;
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center;
  }
}

@keyframes move-cat {
  25% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
}
