@use "src/app/common-styles";
@use "src/app/utils/images/other-images";
@use "src/app/utils/images/cat-images";


.box {
  width: 280px;
  height: 190px;

  .tail {
    @include common-styles.background;
    background-image: cat-images.$cat-tail-normal;
    width: 80px;
    height: 80px;
    top: 15px;
    left: 70px;
    z-index: 1;
    animation: tail-moving linear infinite 1800ms;
  }

  .move-cat {
    transform-origin: bottom center;
    animation: move-cat linear infinite 1500ms;

    .cat {
      @include common-styles.background;
      background-image: cat-images.$cat-plaing-wool;
      width: 130px;
      height: 130px;
      top: 65px;
      left: 80px;
      z-index: 3;
    }
  }

  .wool {
    @include common-styles.background;
    background-image: other-images.$wool;
    width: 110px;
    height: 100px;
    bottom: 35px;
    left: 50px;
    animation: wool linear infinite 2s;
    transform: translateX(380px) rotate(180deg);
  }
}

@keyframes tail-moving {
  0% {
    transform-origin: center;
  }
  25% {
    transform-origin: center;
    transform: rotate(3deg);
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  75% {
    transform-origin: center;
    transform: rotate(-3deg);
  }
  100% {
    transform-origin: center;
  }
}


@keyframes wool {
  0% {
    transform-origin: center;
  }
  50% {
    transform-origin: center;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: center;
  }
}

@keyframes move-cat {
  25% {
    transform: rotateZ(1deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
}
