<div class="dog" *ngIf="!statesService.ringing">

  <div class="head"
       [class.normal]="createViewClasses() === 'normal'"
       [class.tired]="createViewClasses() === 'tired'"
       [class.hungry-thirsty]="createViewClasses() === 'hungry-thirsty'"
       [class.sad]="createViewClasses() === 'sad'"
       [class.exited]="statesService.states.showGames || statesService.states.showFoods"
       [class.exited-tongue]="statesService.states.showFoods"
       [class.sleeping]="simulation.pet.sleeping"
  >

    <div class="ear-left"></div>
    <div class="ear-right"></div>
  </div>

  <div class="buddy-koerper"></div>
  <div class="tail"
       [class.waggle-exited]="statesService.states.showGames || statesService.states.showFoods"
       [class.dropped]="simulation.pet.sleeping"
  >
  </div>

</div>

<div class="clock" *ngIf="statesService.ringing">
  <img src="/assets/bilder/anderes/wecker.webp" alt="wecker" class="clock">
</div>

<div class="pee" *ngIf="simulation.pet.droppedPee > 0" [style.transform]="'scale('+ (0.8 + 0.2 * simulation.pet.droppedPee) + ')'"></div>

<div class="flies fly1" *ngIf="simulation.pet.droppedPoo > 0"></div>
<div class="flies fly2" *ngIf="simulation.pet.droppedPoo > 0"></div>
<div class="flies fly3" *ngIf="simulation.pet.droppedPoo > 0"></div>

<div class="poo" *ngIf="simulation.pet.droppedPoo > 0" [style.transform]="'scale('+ (0.8 + 0.2 * simulation.pet.droppedPoo) + ')'"></div>

