@use "src/app/common-styles";

.box {
  @include common-styles.box-row;
  width: 64vw;
  background-image: linear-gradient(common-styles.$yellow-gray-light 55%, common-styles.$yellow-gray-dark);
  border: 3px solid common-styles.$yellow-gray-dark;
  border-radius: 8px;
  color: common-styles.$light-gray;
  margin: 15px 0;
  text-align: center;

  h2 {
    margin: 5px;

    @media (max-width: 560px) {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 850px) {
    width: 90vw;
  }
}
