@use "src/app/common-styles";

.box {
  @include common-styles.box-column;
  max-width: 637px;

  .row {
    @include common-styles.row;

    &.playing, &.feeding {
      background-image: linear-gradient(common-styles.$yellow-green-light 55%, common-styles.$yellow-green-dark);
      border-radius: 8px;
    }
  }
}
